[submodule "library/Zend"]
	path = library/Zend
	url = git://github.com/tjohns/zf.git
[submodule "devel_tools/git/hooks"]
	path = devel_tools/git/hooks
	url = git://github.com/TechnoGate/git_hooks.git
[submodule "library/doctrine1"]
	path = library/doctrine1
	url = git://github.com/doctrine/doctrine1.git
