[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0

includePaths.library = ROOT_PATH "/library"

bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"

autoloadernamespaces.0 = Technogate
autoloadernamespaces.1 = Doctrine

pluginPaths.Technogate_Application_Resource = "Technogate/Application/Resource"
pluginPaths.ZendX_Activerecord_Application_Resource= "ZendX/Activerecord/Application/Resource"
pluginPaths.Technogate_Application_Resource = "Technogate/Application/Resource"

resources.modulesetup[] =
resources.modules[] =

resources.frontController.throwerrors = 0

resources.frontController.controllerdirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.prefixDefaultModule = false
resources.frontController.moduledirectory = APPLICATION_PATH "/modules"
resources.frontController.defaultModule = "default"
resources.frontController.plugins.moduleloader = Technogate_Controller_Plugin_ModuleLoader
resources.frontController.plugins.layoutloader = Technogate_Controller_Plugin_RequestedModuleLayoutLoader

resources.layout.layout = "layout"
resources.layout.layoutpath = APPLICATION_PATH "/modules/default/layouts"

resources.translate.adapter = gettext
resources.translate.data = ROOT_PATH "/data/locales"
resources.translate.options.scan = directory
resources.translate.locale = en

resources.doctrine.attributes.auto_accessor_override = 0
resources.doctrine.attributes.auto_free_query_objects = 1
resources.doctrine.attributes.autoload_table_classes = 0
resources.doctrine.attributes.coll_key =
resources.doctrine.attributes.dbname_format = "template_%s"
resources.doctrine.attributes.export = "all"
resources.doctrine.attributes.idxname_format = "%s_index"
resources.doctrine.attributes.model_loading = "conservative"
resources.doctrine.attributes.portability = "all"
resources.doctrine.attributes.query_cache =
resources.doctrine.attributes.query_limit =
resources.doctrine.attributes.quote_identifier = 0
resources.doctrine.attributes.result_cache =
resources.doctrine.attributes.result_cache_lifespan = 3600
resources.doctrine.attributes.seqname_format = "%s_sequence"
resources.doctrine.attributes.tblname_format = "%s_table"
resources.doctrine.attributes.use_dql_callbacks = 1
resources.doctrine.attributes.use_native_enum = 0
resources.doctrine.attributes.validate = "all"

resources.doctrine.connections.cx1.dsn.adapter = mysql
resources.doctrine.connections.cx1.dsn.user =
resources.doctrine.connections.cx1.dsn.pass =
resources.doctrine.connections.cx1.dsn.hostspec = localhost
resources.doctrine.connections.cx1.dsn.database =

resources.doctrine.connections.cx1.attributes.auto_accessor_override = 0
resources.doctrine.connections.cx1.attributes.auto_free_query_objects = 1
resources.doctrine.connections.cx1.attributes.autoload_table_classes = 0
resources.doctrine.connections.cx1.attributes.coll_key =
resources.doctrine.connections.cx1.attributes.dbname_format = "template_%s"
resources.doctrine.connections.cx1.attributes.export = "all"
resources.doctrine.connections.cx1.attributes.idxname_format = "%s_index"
resources.doctrine.connections.cx1.attributes.model_loading = "conservative"
resources.doctrine.connections.cx1.attributes.portability = "all"
resources.doctrine.connections.cx1.attributes.query_cache =
resources.doctrine.connections.cx1.attributes.query_limit =
resources.doctrine.connections.cx1.attributes.quote_identifier = 0
resources.doctrine.connections.cx1.attributes.result_cache =
resources.doctrine.connections.cx1.attributes.result_cache_lifespan = 3600
resources.doctrine.connections.cx1.attributes.seqname_format = "%s_sequence"
resources.doctrine.connections.cx1.attributes.tblname_format = "%s_table"
resources.doctrine.connections.cx1.attributes.use_dql_callbacks = 1
resources.doctrine.connections.cx1.attributes.use_native_enum = 0
resources.doctrine.connections.cx1.attributes.validate = "all"

resources.doctrine.debug = 0

fontPath = ROOT_PATH "/data/fonts"
captcha.font = "Arial.ttf"

app.domain = .example.com
app.uploadpath = ROOT_PATH "/public/uploads/"
app.uploadurl = /uploads/
app.host = www.example.com
app.domain = .example.com
app.cookieDomain = .example.com
app.googleMapsApiKey =
app.version = 0.1
app.title = Template
app.logo = img/logo.png
app.facebook.apikey =

app.models.mail.smtp.0.host = localhost
app.models.mail.smtp.0.params.auth = login
app.models.mail.smtp.0.params.username =
app.models.mail.smtp.0.params.password =
app.models.mail.smtp.0.params.ssl =
app.models.mail.smtp.0.params.port =
app.models.mail.from.name = Template
app.models.mail.from.email = template@example.com
app.models.mail.bcc.email = template@example.com
app.models.mail.charset = utf-8

app.models.security.secret_token = c5a15206e7983bb53900944e695e250eeca7d77bd38e235fad596b066b3d53021f313e38d62c4a4229678c127ff32fe346ebfa8010e98ddcea42a82e97cb5151

[production-scripts : production]

[staging : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.throwerrors = 1
resources.doctrine.debug = 1

[testing : staging]
resources.doctrine.connections.cx1.dsn.adapter = mysql
resources.doctrine.connections.cx1.dsn.user =
resources.doctrine.connections.cx1.dsn.pass =
resources.doctrine.connections.cx1.dsn.hostspec = localhost
resources.doctrine.connections.cx1.dsn.database =

resources.doctrine.connections.cx1.attributes.auto_accessor_override = 0
resources.doctrine.connections.cx1.attributes.auto_free_query_objects = 1
resources.doctrine.connections.cx1.attributes.autoload_table_classes = 0
resources.doctrine.connections.cx1.attributes.coll_key =
resources.doctrine.connections.cx1.attributes.dbname_format = "template_%s"
resources.doctrine.connections.cx1.attributes.export = "all"
resources.doctrine.connections.cx1.attributes.idxname_format = "%s_index"
resources.doctrine.connections.cx1.attributes.model_loading = "conservative"
resources.doctrine.connections.cx1.attributes.portability = "all"
resources.doctrine.connections.cx1.attributes.query_cache =
resources.doctrine.connections.cx1.attributes.query_limit =
resources.doctrine.connections.cx1.attributes.quote_identifier = 0
resources.doctrine.connections.cx1.attributes.result_cache =
resources.doctrine.connections.cx1.attributes.result_cache_lifespan = 3600
resources.doctrine.connections.cx1.attributes.seqname_format = "%s_sequence"
resources.doctrine.connections.cx1.attributes.tblname_format = "%s_table"
resources.doctrine.connections.cx1.attributes.use_dql_callbacks = 1
resources.doctrine.connections.cx1.attributes.use_native_enum = 0
resources.doctrine.connections.cx1.attributes.validate = "all"

[development : testing]
resources.doctrine.connections.cx1.dsn.adapter = mysql
resources.doctrine.connections.cx1.dsn.user =
resources.doctrine.connections.cx1.dsn.pass =
resources.doctrine.connections.cx1.dsn.hostspec = localhost
resources.doctrine.connections.cx1.dsn.database =

resources.doctrine.connections.cx1.attributes.auto_accessor_override = 0
resources.doctrine.connections.cx1.attributes.auto_free_query_objects = 1
resources.doctrine.connections.cx1.attributes.autoload_table_classes = 0
resources.doctrine.connections.cx1.attributes.coll_key =
resources.doctrine.connections.cx1.attributes.dbname_format = "template_%s"
resources.doctrine.connections.cx1.attributes.export = "all"
resources.doctrine.connections.cx1.attributes.idxname_format = "%s_index"
resources.doctrine.connections.cx1.attributes.model_loading = "conservative"
resources.doctrine.connections.cx1.attributes.portability = "all"
resources.doctrine.connections.cx1.attributes.query_cache =
resources.doctrine.connections.cx1.attributes.query_limit =
resources.doctrine.connections.cx1.attributes.quote_identifier = 0
resources.doctrine.connections.cx1.attributes.result_cache =
resources.doctrine.connections.cx1.attributes.result_cache_lifespan = 3600
resources.doctrine.connections.cx1.attributes.seqname_format = "%s_sequence"
resources.doctrine.connections.cx1.attributes.tblname_format = "%s_table"
resources.doctrine.connections.cx1.attributes.use_dql_callbacks = 1
resources.doctrine.connections.cx1.attributes.use_native_enum = 0
resources.doctrine.connections.cx1.attributes.validate = "all"
